SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=

DATABASE_URL=
JWT_SECRET=
BRAVE_SEARCH_API_KEY=
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=
